body {
    background-image: url(https://image.shutterstock.com/image-photo/concept-promotional-flyer-poster-restaurants-260nw-1060535249.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    text-align: center;
    background-color:white;
    color:white;
    background-color: darkblue;
}

.contacts {
    color: white;
    text-align: center;
    font-size: medium;
}
label {
    color:green;
}
button {
    color: darkorange;
    text-align: center;
    background-color: green;
    padding: 15px 32px;
    display: inline;
}
.checkout {
    color: darkorange;
    background-color: darkblue;
    text-align: center;
    padding: 15px 32px;
    display: inline;

}
.Make {
    color: darkorange;
    background-color: darkorange;
    text-align: center;
    padding: 15px 32px;
    display: inline;
}